<app-header></app-header><br><br><br><br><br>
<div class="poke-container">
  <div class="row">
    <div class="col-lg-3 col-md-3 col-6" style="margin-bottom:10px;" *ngFor="let pokemon of pokemons?.results">
      <div class="card shadow p-3 mb-5 bg-white" (click)="openModal(pokemonDetails, pokemon)">
        <div class="name">
          <h5> {{ pokemon.name }}</h5>
        </div>
        <div class="img-container">
          <img src="https://pokeres.bastionbot.org/images/pokemon/{{ pokemon.id }}.png" width="120"
            alt="{{ pokemon.name }}">
        </div>
        <div class="info">
          <span class="number">#{{ pokemon.id.toString().padStart(3, '0') }}</span>
        </div>
        <div class="row d-flex justify-content-center">
          <div class="col-sm-5 types" *ngFor="let type of pokemon?.details?.types"
            [style.background]="getTypeColour(type?.type?.name)">
            {{ type.type.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #pokemonDetails>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <app-pokemon-general [currentPokemon]="currentPokemon"></app-pokemon-general>
  </div>
</ng-template>