<div class="col-12 fadeIn MainDiv">
    <br>
    <div class="row justify-content-center" style="position: relative; padding-bottom: 3rem;">
        <div class="col-lg-3 col-md-2 bioDiv d-flex flex-wrap justify-content-center">
            <div class="inner">
                <table class="table table-borderless">
                    <tr>
                        <td class="text-right font-weight-bold">ID</td>
                        <td>#{{ currentPokemon.id.toString().padStart(3, '0') }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">Height</td>
                        <td style="white-space: nowrap;">{{ currentPokemon.height }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">Weight</td>
                        <td style="white-space: nowrap;">{{ currentPokemon.weight }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold" style="vertical-align: middle;">Type</td>
                        <td class="formsBlock text-capitalize"><span class="varieties" style="white-space: pre;">
                                <span class="variety green text-uppercase selectedForm"
                                    *ngFor="let type of currentPokemon?.types">{{ type.type.name }}</span>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">Forms</td>
                        <td class="formsBlock text-capitalize"><span class="varieties" style="white-space: pre;">
                                <span class="variety green text-uppercase selectedForm"
                                    *ngFor="let form of currentPokemon?.forms">{{ form.name }}</span>
                            </span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-lg-5 d-flex flex-wrap align-items-center">
            <div class="image-container"><img alt="" class="Image img-fluid mx-auto my-auto d-block fadeInOut fadeImg"
                    style="z-index: 100!important; max-width: 85%; height: auto; padding-top: 10px;"
                    src="https://pokeres.bastionbot.org/images/pokemon/{{ currentPokemon.id }}.png">
            </div>
        </div>
    </div>
</div>