<div class="col-12">
    <h1 class="text-center text-uppercase">{{ currentPokemon.name }}</h1>
    <div class="row justify-content-center content" style="position: relative; padding-bottom: 3rem;">
        <div class="col-lg-5 d-flex flex-wrap">
            <img alt="Pokemon" class="mx-auto my-auto d-block"
                style="z-index: 100!important; max-width: 85%; height: auto; padding-top: 10px;"
                src="https://pokeres.bastionbot.org/images/pokemon/{{ currentPokemon.id }}.png">
        </div>
        <div class="col-lg-6 col-md-2 my-auto mx-auto d-flex flex-wrap">
            <img alt="Pokemon" class="mx-auto my-auto d-block"
                style="z-index: 100!important; max-width: 85%; height: auto; padding-top: 10px;"
                src="https://projectpokemon.org/images/normal-sprite/{{ currentPokemon.name }}.gif">
            <table class="table shadow-lg bg-white rounded">
                <thead>
                    <tr>
                        <th style="width: 33.36%;">Type</th>
                        <th style="width: 33.36%;">height</th>
                        <th style="width: 33.36%;">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="row d-flex justify-content-center">
                                <div class="col-sm-5" *ngFor="let type of currentPokemon?.details?.types">
                                    {{ type.type.name}}
                                </div>
                            </div>
                        </td>
                        <td>{{ currentPokemon?.details.height | height }}</td>
                        <td>{{ currentPokemon?.details.weight | weight }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="card col-lg-12 shadow-lg bg-white rounded">
                <div class="card-body ">
                    {{ currentPokemon?.description}}
                </div>
            </div>
        </div>
    </div>
</div>