
.card {
  border: 1px solid white !important;
  font-size: 18px;
}

.text-uppercase {
  color: #6d6d6d;
  font-family: "Bungee";
}

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 250px;
  text-align: center;
  overflow: scroll; /* Sempre aparece a barra de rolagem */
  overflow: auto;
  border: none;
}

table tr th {
  background: #28a745;
  color: white;
  font-family: "Bungee";
}

table tr th,
table tr td {
  padding: 5px;
  vertical-align: middle;
}

/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.info {
  margin-top: 20px;
  text-align: center;
}

.number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}


.types {
  margin: 3px;
  padding: 3%;
  font-size: 11px;
  width: 30%;
  text-align: center;
  border-radius: 10px;
  color: white;
}


